Do_It/database/__pycache__/model.cpython-313.pyc
Do_It/database/tasks.db 
Do_It/Do-It.spec
Do_It/build/Do-It/base_library.zip
Do_It/build/Do-It/generated-b81de0b7df55d5bd233a4a5de74d44d9796fcc348185f39cd76439e005ff2e09.ico
Do_It/build/Do-It/EXE-00.toc
Do_It/build/Do-It/PKG-00.toc
Do_It/build/Do-It/localpycs/pyimod02_importers.pyc
Do_It/build/Do-It/localpycs/pyimod01_archive.pyc
.gitignore
Do_It/build/Do-It/warn-Do-It.txt
Do_It/build/Do-It/PYZ-00.toc
Do_It/build/Do-It/xref-Do-It.html
Do_It/build/Do-It/localpycs/pyimod03_ctypes.pyc
Do_It/build/Do-It/Do-It.pkg
Do_It/app.py
Do_It/build/Do-It/Analysis-00.toc
Do_It/build/Do-It/localpycs/pyimod04_pywin32.pyc
.gitignore
Do_It/build/Do-It/localpycs/struct.pyc
Do_It/dist/Do-It.exe
Do_It/build/Do-It/PYZ-00.pyz
